body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    
}
nav img {
    width: 35%;
}
.logoey img {
    width: 90%;
}
h1{
    font-weight: bold;
}
.carousel-indicators li 
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
 
}

footer{
    background-color: #68fa7b;
}